@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: 700;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

.section1 {
    background-color: #1f2937;
    color: white;
    padding: 10px;
    font-family: Roboto, sans-serif;
    padding: 16px 200px 100px 200px;
}

.left-section1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex: 1 0 0;
}

.opener {
    font-size: 36px;
    font-weight: 900;
}

.combo {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
    flex-basis: 0;
}

.button-section1 {
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    padding: 5px;
    background-color: #3882F6;
    color: white;
    border: 1px solid white;
}

.section1 img {
    flex: 1 1 auto;
    max-width: 40%;
    object-fit: contain;
}

.title-section2 {
    font-size: 36px;
    margin: 40px;
    text-align: center;
    font-weight: bold;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.block img {
    object-fit: contain;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.block img, .text {
    width: 150px;
}

.text {
    padding: 10px;
}

.section2 {
    padding: 0px 100px 100px 100px;
    font-family: Roboto, sans-serif;
}

.section3 {
    background-color: #e5e7eb;
    padding: 100px 200px;
    font-family: Roboto, sans-serif;
}

.quote {
    font-size: 36px; 
    font-style: italic;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.wording {
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    margin: 100px 175px;
    padding: 25px 30px;
    justify-content: center;
    gap: 50px;
    background-color:#3882F6;
    color: white;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
}

.call {
    font-size: 16px;
    font-weight: bold;
}